<div class="container mx-auto">
    <div class="grid grid-cols-2 justify-items-center my-80  align-middle">
        {% for ver in versi %}
        <a href=" {{ver}} ">
            <div class="box-border h-14 w-24 p-4 bg-red-600 rounded-2xl transform hover:scale-110">
                <div class="text-center">
                    {{ver}}
                </div>
            </div>
        </a>
        {%endfor%}
    </div>