<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> 
    <title> Personal Web PHP:Rahman </title>
</head>

{% block content %}

{% endblock  %}



<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="script/script.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '#next',
            prevEl: '#prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
        //   autoplay: {
        //     // delay: 2000,
        // },
    });
</script>

</body>

</html>
